<!-- views/partials/footer.ejs -->
<footer class="text-center mt-5 p-3 bg-dark text-white">
    <p>&copy; 2025 Chat App. All rights reserved.</p>
  </footer>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>
  