<% if (messages.success_msg) { %>
    <div class="alert success"><%= messages.success_msg %></div>
<% } %>

<% if (messages.error_msg) { %>
    <div class="alert error"><%= messages.error_msg %></div>
<% } %>
